<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{data.title}}" [options]="false">
      <h5></h5>
      <hr>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">          
            
           <div class="col-md-12">
            <div class="form-group">
              <label for="">Descrição</label>
              <input type="text" class="form-control" required formControlName="descricao"  placeholder="Descrição">
            </div>                 
          </div>           
          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">{{data.btnTitle}}</button>
          <button type="button" [routerLink]="['/marcas']" class="btn btn-danger">Cancelar</button>
        </div>                       
      </form>
    </app-card>
  </div>
</div>