<div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <form [formGroup]="formLogin" class="m-t" (ngSubmit)="login()">
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-4">
              <i class="feather icon-unlock auth-icon"></i>
            </div>
            <h3 class="mb-4">Acesso</h3>
            <div class="input-group mb-3">
              <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" formControlName="password" placeholder="Senha">
            </div>
            <div class="form-group text-left">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                <label for="checkbox-fill-a1" class="cr"> Salva informações de acesso</label>
              </div>
            </div>
            <button [disabled]="!formLogin.valid" class="btn btn-primary mb-4">Acessar</button>            
          </div>
        </div>
      </form>
      
    </div>
  </div>
  