<ul class="navbar-nav">
  <li appToggleFullScreen><a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a></li>
  <li class="nav-item dropdown" ngbDropdown [placement]="['bottom-left', 'bottom-right']">
    <a href="javascript:" data-toggle="dropdown" ngbDropdownToggle>Consultas Rápidas</a>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li><a class="dropdown-item" href="javascript:">CFOP</a></li>
      <li><a class="dropdown-item" href="javascript:">NCM</a></li>
      <li><a class="dropdown-item" href="javascript:">CNPJ</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li>
</ul>
